<!DOCTYPE html>
<html>

    <head>
        <h1>
            <b>
                <i>LA MEJOR CAFETERI'A </i>
            </b>
        </h1>
    </head>

    <style type="text/css">
        #header {

            color: black;
            padding: 50px;
            height: 200px;
        }

        #section {
            /* background-color: ; */
            /* background-image: url(""); */
        }

        #footer {}

        ul#menu li {
            list-style-type: none;
            color: green;
            float: center;
            display: inline;
            padding: 20px;
        }

        .backgroundA {
            color: green;
            background-image: url("images/hot-cup.jpeg");
            background-size: 100% 100%;

        }
    </style>
    <title>
        <h1>ABOUT</h1>
    </title>

    <body>
        <div class="backgroundA">
            <h1>
                <b>
                    <i> HELLO WORLD </i>
                </b>
            </h1>

            <ul id="menu">
                <Li>
                    <a href="/">HOME</a>
                </Li>

                <Li>
                    <a href="about">ABOUT</a>
                </Li>

                <Li>
                    <a href="sign_up">SIGN_UP</a>
                </Li>

                <Li>
                    <a href="log_in">LOG_IN</a>
                </Li>
            </ul>
        </div>



        <div id="section">
            <b>
                <i>
                    <h1>
                        <P>
                            we cherrish your feedback on the services we have offerd and you can reach us on:
                        </P>
                    </h1>
                </i>
            </b>

            <b>
                <p>
                    PHONE NUMBER : 0746256084
                </p>
            </b>

            <b>
                <p>
                    EMAIL: mikemurwayi7@gmail.com
                </P>
            </b>
        </div>

        <div id="footer">
        </div>
    </body>

</html>